<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
		<title>For EC-CUBE3 Plugin</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/nicoscreen.js"></script>
       
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> -->
	</head>
	<body>
       <div id="nicoscreen" style="width:1087px;height:435px;">
            <img src="/images/mv01.jpg" style="width:1120px;height:480px">
       </div> 
		<script type="text/javascript">
        (function($){
            var obj = {
                "base":{
                    color:"white",
                    speed:"normal",
                    interval:"normal",
                    font_size:"30px",
                    loop:true
                },
                "comments":[
                ]
            };

            nicoscreen.set(obj);
            nicoscreen.start();
        
        
			//websocket開始
			var socket = io.connect('http://www.les-tournesol.com:7960');
			    socket.on('connect', function() {});
			//PHPの通信データ
			socket.on('ordershow', function(data) {
				if(data){
					console.log(data.orders);
                    nicoscreen.add(data.orders);
                    //$('#order').append('<p>' + data.orders + '</p>');
				}
			});
			socket.on('disconnect', function(){
			});
        })(jQuery);
		</script>
	</body>
</html>
